main.chat {
  background: #C8CFC8;
  margin: 32px 0 16px 0px;
  height: 500px;
  overflow: auto;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

main.chat::-webkit-scrollbar {
  width: 10px;
}

main.chat::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

main.chat::-webkit-scrollbar-thumb {
  background: #5B605D; 
}

main.chat::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.chatMessage {
  margin: 32px 32px 16px 32px;
  color: #5B605D;
}

.chatMessage + .chatMessage{
  margin: 16px 32px;
}

.userMessage {
  margin: 32px 32px 6px 32px;
}

.userMessage + .userMessage  {
  margin: 6px 32px;
}

.userMessage:last-child,
.chatMessage:last-child {
  margin-bottom: 32px;
}

.chatMessage span {
  font-size: 12px;
}

.userMessage {
  color: #60AD4D;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.userMessage span {
  display: none;
}

.message {
  margin-top: 8px;
  padding: 16px;
  overflow-wrap: break-word;
  line-height: 150%;
  border: 1px solid #5B605D;
  width: 40%;
  border-radius: 4px;
  font-size: 16px;
}

.userMessage .message {
  margin-top: 0px;
  border: 1px solid #60AD4D;
}

@media (max-width: 950px) {
  .message {
    width: 70%;
  }
}

@media (max-width: 650px) {
  main.chat {
    margin: 32px 0px;
  }

  .message {
    width: 85%;
  }
}