* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #D7DDD7;
}

html, body, input, button, textarea {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #5B605D;
}